<h1 style="color:#ff531a;text-decoration:underline;text-align:center">Artist Detail</h1><hr>

<div ng-if="artistCtrl.artist">

    <img class="img-thumbnail thumbnail" ng-src="{{artistCtrl.artist.images[2].url}}" />
    <h3 style="color:#ff794d">Name: {{artistCtrl.artist.name}}</h3>
    <h4 style="color:#ff794d">Popularity: {{artistCtrl.artist.popularity}}</h4>
    <h4 style="color:#ff794d">Followers: {{artistCtrl.artist.followers.total}}</h4>
    <br>

    <h2 style="color:#ff531a"> Famous Albums by {{artistCtrl.artist.name}} </h2>
    <slick class="slides" data="artistCtrl.artistAlbums" settings="artistCtrl.slickPanels">
        <div ng-repeat="album in artistCtrl.artistAlbums">
            <div class="slide" ng-if="artistCtrl.viewLoaded">
                <div><img ng-src="{{album.images[1].url}}" class="img-responsive" ng-click="artistCtrl.Songs(album.id)"></div>
            </div>
        </div>
    </slick>
    <br>
    <h2 style="color:#ff531a"> Top Tracks by {{artistCtrl.artist.name}}</h2>
    <slick class="slides" data="artistCtrl.tracks" settings="artistCtrl.slickPanels">
        <div ng-repeat="track in artistCtrl.tracks">
            <div class="slide" ng-if="artistCtrl.viewLoaded">
                <div><img ng-src="{{track.album.images[1].url}}" class="img-responsive" ng-click="artistCtrl.trackInfo(track)"></div>
            </div>
        </div>
    </slick>
    <br>
</div>

<div ng-if="!artistCtrl.artist">
    <div class="well well-danger">
        <span> Artist not found </span>
    </div>
</div>
